/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #FCEE09;
}

h1,
h2 {
  font-family: 'Orbitron', sans-serif;
  color: black;
  text-transform: capitalize;
}

a {
  color: #38b6ff;
}

a:hover {
  color: #FCEE09;
}

.parent-container {
  padding: 20px;
}

button {
  font-family: 'Orbitron', sans-serif;
}

#google-button {
  width: 280px;
}

.fine-print {
  font-size: 12px;
  text-align: center;
}

.no-posts {
  text-align: center;
}

/* Landing Page */
.landingpage-parent-container {
  display: flex;
  flex-direction: column;
}

.landing-banner-section {
  position: relative;
  display: flex;
}

.landing-banner-section img {
  display: block;
  width: 100%;
  height: auto;
}

#banner-overlay-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCEE09;
  padding: 10px 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
}

#banner-overlay-header > p {
  margin-bottom: 0;
}

#subheading {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: #FCEE09;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #banner-overlay-header {
    font-size: 24px;
  }

  #subheading {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  #banner-overlay-header {
    font-size: 20px;
  }

  #subheading {
    font-size: 16px;
  }
}

#landing-button-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #38B6FF;
}

#landing-button-menu button {
  border: none;
  background-color: unset;
  padding: 20px;
  width: 33%;
  font-size: 18px;
}

#landing-button-menu button:hover {
  background-color: #FCEE09;
  text-decoration: underline;
}

/* Login Form */
.login-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
}

.login-modal-container > form {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.login-button {
  padding-top: 16px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.login-button:hover {
    text-decoration: underline;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  width: 172px;
  border-radius: 8px;
  border-color: deepskyblue;

}

textarea {
  border-radius: 8px;
  border: 2px solid deepskyblue;
}

#login-errors-container {
  display: flex;
  flex-direction: column;
  min-height: 35px;
}

/* Create Vehicle Form */
.listerrors-container {
  display: flex;
  flex-direction: column;
  min-height: 75px;
}

.list-errors, .list-errors p {
    color: red;
    margin-bottom: 16px;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0 0;
}

#google {
  background-color: white;
  color: #4285F4;
  border: 1px solid #4285F4;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Navigation Section */
.hidden {
  display: none;
}

.nav-container {
  padding: 20px;
  background-color: black;
  font-family: 'Roboto Slab', serif;
}

/* Header */
#logo {
  width: 195px;
  cursor: pointer;
}


/* Profile Button */
.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 16px;
  border: none;
  background-color: unset;
  cursor: pointer;
  font-size: 22px;
  color: yellow;
}

.fa-bars {
  margin-right: 8px;
}

.profile-dropdown {
  border-radius: 8px;
  min-height: 90px;
  position: absolute;
  top: 80px;
  right: 53px;
  z-index: 3;
  background-color: ghostwhite;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 10px;
}

.profile-menu-container {
  padding: 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile-container button {
  text-align: left;
  background-color: ghostwhite;
  border: none;
  margin-bottom: 12px;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}

.profile-container button:hover {
  text-decoration: underline;
  cursor: pointer;
  border-radius: 4px;
}

#user-menu {
  display: flex;
  flex-direction: column;
}

#email {
  margin-bottom: 8px;
}

#user-menu div {
  padding: 10px;
}

#user-links {
  border-top: 1px solid black;
  font-family: 'Orbitron', sans-serif;
}

#user-links div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-corner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-corner-container button:hover {
  color: #38B6FF;
}

#post-vehicle-button > button {
  color: yellow;
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 0 10px;

  font-size: 1.5rem;
}

#post-vehicle-button > button:hover {
  color: #38B6FF;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FCEE09;
}

.nav-links  {
  display: flex;
  flex-direction: row;

}

.nav-links > div{
  cursor: pointer;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 0;
  }

  .nav-links > div {
    margin-bottom: 0;
    margin-left: 20px; /* Adjust spacing between links on larger screens */
  }

  #post-vehicle-button > button {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  #post-vehicle-button > button {
    font-size: 1rem; /* Further adjust font size for even smaller screens */
  }
}


/* Searchbar */
.input-wrapper {
  background-color: white;
  border-radius: 4px;
  height: 35px;
  padding: 0 15px;
  box-shadow: 0px 0px 6px #ddd;
  display: flex;
  align-items: center;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  margin-left: 30px;
  position: relative;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 17px;
  width: 100%;
  margin-left: 5px;
  font-family: 'Roboto Slab', sans-serif;
}

input:focus {
  outline: none;
}

#search-icon {
  color: grey;
}

.results-list {
  width: 100%;
  position: absolute;
  font-size: 10pt;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px #ddd;
  border-radius: 4px;
  max-height: 185px;
  top: 19px;
  overflow-y: scroll;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  z-index: 6;
  left: -15px;
}

.search-result {
  padding: 10px 20px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  cursor: pointer;
}

.search-result:hover {
  background-color: #efefef;
}

.results-container {
  position: absolute;
  width: 100%;
}

.no-results {
  padding-left: 16px;
  padding: 8px;
}

/* Sign Up Form */
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  padding: 45px 60px;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
}

.sign-up-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.signup-error {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.input-and-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
  .sign-up-container {
    padding: 30px 10px;
  }

  .form-buttons {
    flex-direction: column;
  }
}


/* Cards */
.vehicles-parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  width: 425px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-container {
  width: 425px;
  border: 4px solid lightgrey;
  border-radius: 8px;
  margin: 12px;
  background-color: rgb(90, 90, 90);
  color: white;
  box-shadow: 0 0 12px rgba(63, 63, 63, 0.8), 0 0px 12px rgba(63, 63, 63, 0.8);
}

.card-container:hover {
  border: 4px solid #38B6FF;
}

.card-details {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-make-model {
  font-size: 20px;
}

#avg-review-parent-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 14px;
  padding-bottom: 10px;
}

#avg-review-parent-container p {
  margin: 0;
  padding-left: 10px;
}

#update-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
  margin-top: 10px;
}

#update-delete-buttons button {
  background-color: unset;
  border: none;
  padding: 24px;
  width: 50%;
  font-size: 16px;
  color: white;
}

#update-delete-buttons button:hover {
  text-decoration: underline;
  background-color: #38B6FF;
  color: black;
}

#add-remove-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
  margin-top: 16px;
}

#add-remove-buttons button {
  background-color: unset;
  color: white;
  border: none;
  padding: 24px;
  width: 100%;
  font-size: 15px;
}

#add-remove-buttons button:hover {
  text-decoration: underline;
  background-color: #38B6FF;
  color: black;
}

#coming-soon {
  width: 100%;
}

#coming-soon p {
  padding: 20px;
}

/* Page Header */

#all-header {
  padding-left: 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#review-link-button > button,
.header-buttons {
  box-shadow: 0 0 12px rgb(255, 255, 0, .8), 0 0px 12px rgb(255, 255, 0, .8);
  border: 2px solid black;
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 20px;
  font-size: 18px;
}

#review-link-button > button:hover,
.header-buttons:hover {
  background-color: #38B6FF;
  color: black;
  text-decoration: underline;
  border-color: black;
}

.header-container > a {
  padding-left: 16px;
  padding-top: 10px;
}

/* Vehicle Details Page */

.vehicle-details-page-container {
  padding: 0px 20px;
}

#detail-image {
  width: 100%;
  border-radius: 8px;
}

#detail-image-container {
  display: flex;
  justify-content: center;
  background-color: unset;
  padding: 8px;
}

#detail-section-parent {
  padding: 0 10px;
  border: 4px solid black;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: rgb(90, 90, 90);
  color: white;
}

#detail-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 32px;
}

#detail-section-container p {
  font-size: 26px;
}

#detail-avg {
  font-size: 30px;
  padding-right: 30px;
}

#detail-description {
  padding: 0 32px;
  font-size: 22px;
  margin-bottom: 22px;
}

#posted-by {
  padding: 0 32px;
}

/* Reviews Component */
.vehicle-reviews-container {
  border-top: 2px solid black;
  padding-top: 10px;
}

#not-reviewed {
  font-size: 20px;
}

#review-container {
  margin-bottom: 24px;
}

.user-review {
  border: 4px solid black;
  padding: 8px 20px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: rgb(90, 90, 90);
  color: white;
}

#revDate {
  margin: 0;
  font-size: 14px;
}

.name-and-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#revName {
  font-size: 24px;
}

#revReview {
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.review-edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.review-edit-delete-buttons button {
  font-size: 16px;
  background-color: unset;
  border: none;
  padding: 16px;
  width: 50%;
  color: white;
}

.review-edit-delete-buttons button:hover {
  text-decoration: underline;
  background-color:#38B6FF ;
  color: black;
}

/* Review Form Modal */

.review-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  color: black;
}

.review-modal-container > h1 {
  color: black;
}

.review-modal-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listerrors-rev-container {
  display: flex;
  flex-direction: column;
  min-height: 34px;
}

.star-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.star-input-container div {
  padding: 10px;
}

.stars-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.filled {
  color: #38B6FF;
  text-shadow: 0 0 1px grey, 0 2px 4px grey;
}

.empty {
  color: lightgray;
}

textarea {
  height: 106px;
  width: 265px;
}

/* Create/Update Form Modal */
.create-vehicle-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
}

.create-vehicle-parent-container > form {
  display: flex;
  flex-direction: column;
}

.label-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.description-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.description-label {
  padding-bottom: 10px;
}

.submit-container {
  width: 100%;
}

.submit-button {
  color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(90, 90, 90);
  /* background-color: #87d3ff; */
}

.submit-button:hover {
  text-decoration: underline;
  background-color: #38B6FF;
  color: black;
}

@media screen and (max-width: 600px) {
  .create-vehicle-parent-container {
    padding: 20px;
  }

  .label-input-container,
  .description-input-container {
    padding: 5px;
  }

  .submit-button {
    padding: 15px;
  }
}

/* Delete Form Modal */
#delete-vehicle-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: yellow;
  border-radius: 8px;
}

.confirm-buttons {
  display: inline-flex;
}

.confirm-buttons button {
  text-wrap: nowrap;
  border: none;
  background-color: unset;
  padding: 24px;
  font-size: 16px;
  width: 50%;
  border: 2px solid black;
  background-color: rgb(90, 90, 90);
  color: white;
  margin: 2px;
}

.confirm-buttons button:hover {
  background-color: #38B6FF;
  text-decoration: underline;
  border: 2px solid black;
  color: black;
}

.delete-confirm {
  font-size: 24px;
}

/* Brand Cards */

#brandcard-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

.brandcard-container > img {
  width: 100%;
  max-width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

}

.brandcard-container {
  border: 4px solid lightgrey;
  background-color: rgb(90, 90, 90);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(63, 63, 63, 0.8), 0 0px 12px rgba(63, 63, 63, 0.8);
  font-size: 20px;
  margin-bottom: 20px;
  max-width: calc(50% - 20px);
}

.brandcard-container:hover {
  border: 4px solid #38B6FF;
  background-color: #38B6FF;
  text-decoration: underline;
  box-shadow: none;
}

@media (max-width: 768px) {
  #brandcard-parent-container {
    justify-content: center;
    padding: 15px;
  }

  .brandcard-container {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .brandcard-container {
    max-width: 100%;
    width: 100%;
  }
}

/* Purchase Section, Items */
#purchase-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.item-section {
  border: 2px solid black;
  border-radius: 2px;
  height: 100%;
}

.item-parent-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  padding-right: 80px;
}

.item-details-container button {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 16px;
  margin-top: 56px;
}

#remove-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details-container button:hover {
  text-decoration: underline;
  color: black;
  background-color: #38B6FF;
}

#item-photo-container {
  padding-right: 25px;
}

.item-photo {
  width: 375px;
  border-radius: 4px;
  padding-left: 4px;
}

#order-summary {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  height: 100%;
}

#order-summary h3 {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

#calculation-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculation-row {
  display: flex;
  justify-content: space-between;
}

.item {
  flex: 1;
}

.amount {
  flex-shrink: 0;
  text-align: right;
  padding-left: 24px;
}

#tax {
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
}

#purchase-btn {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

#purchase-btn button {
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid black;
}

#purchase-btn button:hover {
  background-color: #38B6FF;
  color: black;
  text-decoration: underline;
}

/* AWS File Uploader */
.file-inputs-container {
  position: relative; /* This allows the elements within it to be positioned without taking this element out of the document flow. As it's parent is NOT positioned, it only effects the children. */
}

#post-image-input {
  visibility: hidden;
  /* Hides default file button. As the label for this input is connected to it using the htmlFor property, we can style the label as a button instead, and have it behave the same as the <input type="file" />
     This extra step is necessary as the default <input type="file" /> CANNOT be styled with CSS!!
  */
}


.file-inputs-filename {
  position: absolute;
  top: 68px;
  left: 100px;
  z-index: 2;
  color: var(--minimal-border);
  background-color: var(--minimal-background);
  font-size: 14px;
  min-width: 90px;
  padding-bottom: 2px;
}

.thumbnails {
  width: 50px;
  height: 50px;
  outline: none;
}

.file-input-labels {
  display: block;
  border: 2px solid var(--minimal-border);
  border-radius: 4px;
  color: var(--minimal-border);
  background-color: var(--minimal-background);
  width: 124px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 7px;
  transition: all 0.3s ease-in-out;
}

.file-input-labels:hover {
  color: #38b6ff;
  border-color:#38b6ff;
  cursor: pointer;
}

/* Footer */
/* #footer-parent-container {
  position: fixed;
  width: 100%;
  bottom: 0;
} */

#footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

.footer-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
  width: 33.3%;
  box-sizing: border-box;
}

.footer-link-container i {
  font-size: 40px;
  margin-right: 10px;
}

.footer-link-container:hover {
  background-color: #38b6ff;
  color: black;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-link-container {
    width: 50%; /* Two items per row on smaller screens */
  }
}

@media (max-width: 576px) {
  .footer-link-container {
    width: 100%; /* One item per row on even smaller screens */
  }
}

/* Coming Soon */

#coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:black;
  color: yellow;
  font-size: 20px;
  padding-top: 1px;
  border-radius: 8px;
}
