.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 60px;
  background-color: yellow;
  border-radius: 8px;
}

.sign-up-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.signup-error {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.input-and-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
