.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 60px
}

.sign-up-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}
